<%- include('../_partial/_header'); -%>

<main class="content-container">
    <section class="featured-grid" id="charts-grid">
        <div class="box">
            chart1
        </div>
        <div class="box">

            chart2
        </div>
        <div class="box">
            chart3

        </div>
        <div class="box">
            chart4

        </div>
    </section>
    
    <h2>Discover New Workouts</h2>
    <section class="featured-grid" id="new-workouts-grid">
        <div class = "image-box" id="box-1">
            <a href="#">
                <img src="/public/images/jacked-dude-squatting.jpg">
                <div class = overlay-text-container>
                    <h3>Big Moe's 6 weeks to A Better Steroid Cycle</h3>
                </div>
            </a>
        </div>
        <div class = "image-box" id="box-2">
            <a href="#">
                <img src="/public/images/db-rows.jpg">
                <div class = overlay-text-container>
                    <h3>Whatever this Guy is Doing</h3>
                </div>
            </a>

        </div>
        <div class = "image-box" id="box-3">
            <a href="#">
                <img src="/public/images/hot-babe-running.jpg">
                <div class = overlay-text-container>
                    <h3>Keep on Joggin', Baby</h3>
                </div>
            </a>
        </div>
        <div class = "image-box" id="box-4">
            <a href="#">
                <img src="/public/images/leaping.jpg">
                <div class = overlay-text-container>
                    <h3>Increase your vertical by leaps and bounds</h3>
                </div>
            </a>
        </div>
    </section>
    
    <h2>Hot Items in the Store</h2>
    <section class="featured-grid" id="store-grid">
        <div class = "image-box" id="box-3">
            <a href="#">
                <img src="/public/images/fish-oil.jpg">
                <div class = overlay-text-container>
                    <h3>Freddie's Fish Oil</h3>
                </div>
            </a>
        </div>
        <div class = "image-box" id="box-3">
            <a href="#">
                <img src="/public/images/casein.jpg">
                <div class = overlay-text-container>
                    <h3>Casein Point</h3>
                </div>
            </a>
        </div>
        <div class = "image-box" id="box-3">
            <a href="#">
                <img src="/public/images/whey.jpg">
                <div class = overlay-text-container>
                    <h3>Whey too Strong</h3>
                </div>
            </a>
        </div>
        
    </section>
</main>
<%- include ('../_partial/_sidebar'); -%>
<%- include ('../_partial/_footer'); -%>