@import './core/config';
@import './core/typography';
@import './components/buttons';
@import './general/form';
@import './general/utillities';

header
{
    text-align:center;
    img
    {
        width:300px
    }
    padding-bottom:50px;
}

body
{
    padding:15px;
    display:block;
    background: ($gradient_bg_image_overlay, url("../../public/images/background-images/background-fw-2.jpg"));
    background-size:cover;

    .wrapper
    {

        max-width: 350px;
        margin: auto;
        & > *
        {
            margin:auto;
        }
        main
        {
            display:flex;
            flex-direction: column;
            gap:30px;
            h1
            {
                text-align: center;
            }
            text-align: center;
        }

    }

}
form
{
    #height-inputs
    {
        display:flex;
        flex-wrap: wrap;
        max-width:350px;
        width:100%;
        label
        {
            justify-self: left;
            flex-basis:100%;    
            text-align: left;
            padding-left: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        & > input
        {
            min-width:inherit;
            width:50%;
        }
    }
}

#sign-up-box
{
    padding-top:100px;
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:30px;
}

#step-buttons
{
    margin: 15px 0 15px 0;
}

.form-inactive
{
    opacity:0;
}