@import "../../core/_config.scss";
@import "../../general/_utillities.scss";

.btn-expand-collapse {
  @extend .circle;
  background-color: $color_highlight;
  padding:3px;
  box-shadow: $shadow-really_small;
  svg 
  {
      width:20px;
      height:20px;
  }
  &:hover{
      background-color: $color_white;
  }
}