@import 'config';

$bg_gradient: linear-gradient( #252736, #494e6b);
$color_primary: rgba(25, 34, 49, 1);
$color_highlight: rgba(152, 94, 109, 1);
$color_secondary: rgba(73, 78, 107,.5);
$color_white: rgba(255,255,255,1);

/*General Styling*/
html, body, label, input, div{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
*
{
    font-family: 'Josefin Sans', sans-serif;
    transition:1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

body
{
    background: $bg_gradient;
}

img 
{
    height: auto;
    width: 100%;
}


#wrapper
{
    max-width: 1290px;
    margin: 0 auto;
}

a 
{ 
    text-decoration: none;
}

h1
{
    color:#fff;
    text-align: center;
    font-size: 36px;
}

h2
{
    text-shadow: $color_primary 2px 2px;
}

h3
{
    color: #fff;
}
ul
{
    list-style-type: none;
}


/*Navigation*/
#vertical-nav
{
    z-index:599;
    position:fixed;
    left:0;
    height: 100vh;
    background-color: $color_primary;
    box-shadow: #000 1px 1px 1px;
    transition:1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    width:200px;
    top:0;
    bottom:0;
}

#vertical-nav-list
{
    padding:0;
    width: 100%;
    /*overflow: hidden;*/
    transition:1s ease;
    margin-top: 0;
}

#vertical-nav-list a
{
    margin-bottom:0;
    display:flex;
    align-items: center;
    border:6px solid transparent; 
    transition:1s ease;
}

#vertical-nav-list p
{
    transition:.5s ease;
    color:#fff;
    display: inline-block;
    margin:0;
}

#vertical-nav-list svg, #vertical-nav-list img
{
    fill: #fff;
    padding: 1em;
    transition:.1s;
    -webkit-transition:.1s;
    -moz-transition:.1s;
    min-width:30px;
    max-width:30px;
}

a#company-logo
{
    padding:1em;
    margin-bottom:1em;
}

.nav-closed #company-logo
{
    padding:5px;
}

#company-logo svg
{
    max-width: 100%;
    padding:5px;
    transition:1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
}

#vertical-nav-list a:hover, #account-info:hover 
{
    background-color:$color_highlight;
}

/*Styles applied when nav is closed*/
#vertical-nav.nav-closed
{
    width:80px;
}

.nav-closed #vertical-nav-list
{
    padding-right:0;
}

.nav-closed #vertical-nav-list a {
}

.nav-closed #vertical-nav-list p, .nav-closed #account-info p
{
    transform: translate(-500px);
}

/*Class for link <a> that represents URL of current page*/
#vertical-nav a.active
{
    background-color: $color_highlight;
}

a.active svg
{
    fill:#fff;
}

a.active p
{
    color: #fff!important;
}


/*Top navigation menu*/
#top-nav
{
    box-shadow: #000 1px 1px 1px;
    z-index:498;
    position:fixed;
    padding:1em;
    background-color: $color_primary;
    max-width: 100%;
    right:0;
    left: 0;
    top:0;
}



/*Search*/
#search-bar
{

}


#search-input {
    max-width: 100%;
    padding: 5px 7px 5px 7px;
    font-size: 15px;
    background:rgba(255,255,255, .1);
    display:block;
    margin: 0 auto;
    border-radius: 2em;
}

#search-input::placeholder
{
    color:#fff;
}

#search-input:focus-visible
{
    outline:none;
}

#search-input:focus-visible ~ button
{
    outline:none;
}

#btn-search{
    background-color:#fff;
    border:none;
    display:inline;
    margin:0;
    width:100%;
}

#btn-search:hover{
    transform:none;
}

/*Account info and notifications*/
#account-info
{
    background-color: $color_secondary;
    border-radius: 2em;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;    
    display: flex;
    align-items: center;
    padding:10px;
}

#account-info:hover
{
}

#account-pic
{

    transition:.1s;
    -webkit-transition:.1s;
    -moz-transition:.1s;
    min-width:40px;
    max-width:40px;
}

#account-info p
{
    color: #fff;
    display:inline;
}


#notifications
{
    text-align: right;
    grid-column: 6/7;
}

#account, #account:visited
{
    color: $color_primary;
}


/*svgs*/

svg#expand-icon
{
    width:15px;
    height:15px;
    padding:6px;
    margin: 0 auto;
    cursor:pointer;
    border-radius: 50%;
    background-color:$color_highlight;;
    transition:1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    position:absolute;
    top:6rem;
    right:-1rem;
    z-index:501;
}

svg#expand-icon.open-icon
{
    transform: rotateZ(180deg);
}

svg#expand-icon:hover
{
    background-color:#fff;
}

.circle {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}



/*Image Overlays*/

#home-chart img
{
    position: absolute;
}

.image-box
{
    position: relative;
    max-height: 423px;
    overflow: hidden;
    background-color:$bg_gradient
}

.image-box a
{
    margin: 0;
    padding: 0;
    display:block;
    width:100%;
    height: 100%;
}

.image-box a:hover img
{
    opacity: 1;
}

.overlay-text-container h2{
    
    font-size: 30px;
}

.image-box a:hover .overlay-text-container h2
{
    color:#fff;
}

.image-box img{
    display: inline-block;
    opacity:.4;
}

.overlay-text-container
{    
    width:100%;
    bottom: 35%;
    text-align:center;
    color:#fff;
    margin: 0;
    position: absolute;
}


/*Chart*/
#overall-chart-container
{
    display:grid;
    grid-gap:3px;
    grid-template-columns: 75% 25%;
}

#chart-container
{
    width:100%;
    background:$bg_gradient;
}


#weight-chart
{
    background-color: $color_primary;
}

#chart-options
{
    display:inline-block;
    text-align: center;
    background-color:$color_primary;
    color:#fff;
    padding: 1em;
}

input[type="button"], button
{
    background-color: #fff;
    color:$color_primary;
    padding:10px;
    width:45%;
}

input[type="button"]:hover,button:hover, .btn-active
{
    color: #fff !important;;
    cursor:pointer;
}


input[type="date"]:hover
{
    cursor:pointer;
}

#chart-options fieldset{
    padding:1em
}

.input-label-container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:1em;
}

#daily-values-container, #seven-day-running-avg-container
{
    grid-template-columns: 75% 25%;
}

.input-label-container label{
}

.input-label-container input[type="text"], .input-label-container input[type="date"]{
    width:110px;
    padding:5px;
}

#draw-chart-btn
{
    text-align: center;
    margin-top:1em;
}



.user-input-form
{
    max-width: 600px;
    background-color: $color_primary;
    color:#fff;
    margin: 0 auto;
    padding:50px;
}

.user-input-form fieldset
{
}

#log-info-btn
{
    display:block;
    margin: 0 auto;
}

/*Sidebar*/
#side-bar
{
    background-color: $color_primary;
}