main.content-container
{
    h1
    {
        margin-bottom: 1em;
    }
    h2
    {
        margin-bottom:.5em;
        text-align : center;
    }
    .featured-grid
    {
        margin-bottom: 3em;
    }
}