
.info-strip
{
    width:100%;
    display:grid;

    //Styling
    background: rgba($color_primary, .5);
    .info-strip-wrapper
    {
        display:grid;
        align-items: center;
        gap:15px;
        text-align:left;
        padding:10px 30px 10px 30px;
    }
    .icon-right
    {
        display:block;
        width:100%;
        max-width:100%;
        background-color: rgba($color_primary,.75);
        display:flex;
        justify-content: center;
        align-items: center;
        &:hover
        {
            background-color: #fff;;
        }
        svg 
        {
            width:100%;
            height: 100%;
            padding:20px;
        }
    }

    //Info Strip for adding an exercise
    &.add-info-strip
    {
        grid-template-columns: 1fr 80px;
        .info-strip-wrapper
        {
            grid-template-columns: 60px 1fr;
        }
        //Info strip whose info is currently being viewed in exercise details section
        &.selected 
        {
            .info-strip-wrapper
            {
                background-color:rgba(white, .75);
                h4, p
                {
                    color:$color_primary;
                }

            }
        }

        &.current-exercise 
        {
            .info-strip-wrapper
            {
                background-color: $color_highlight;
            }
        }
        &:hover 
        {
            .info-strip-wrapper
            {
                background-color: $color_highlight;
                cursor: pointer;
            }
        }
       
    }

    //Info Strip for displaying and editing exercise details (sets, reps, weight, rest)
    &.detail-info-strip
    {
        .info-strip-wrapper
        {
           grid-template-columns: 60px 1fr 22px;
            h4
            {
                text-align: center;
                padding-bottom:5px;
            }
            ul 
            {
                li 
                {
                    padding:2px 0 2px 0;
                    display:flex;
                    gap: 5px;
                    & :nth-child(1)
                    {
                        flex-basis: 33%;
                        flex: 1;
                    }
                    & :nth-child(2)
                    {
                        flex-basis: 66%;
                        flex: 1;
                    }
                }
            }
        }
 
    }
    img 
    {
      width:60px;
      height:60px;
      object-fit: cover;
      grid-column: 1/2;
    }
    h4{
        font-size:18px;
        font-weight: 400;
        grid-column:2/3;
    }

    svg, input[type="checkbox"]
    {
        @extend .hoverable;
        font-size:26px;
        margin:auto;
        &.rotate180
        {
            transform: rotate(180deg);
        }
    }
    input[type="checkbox"]
    {
        height: 26px;
        width: 26px;
        &:checked, &:hover 
        {
            accent-color: $color_highlight;
        }
    }
    .info 
    {
        grid-column:1/-1;
        grid-row:2/3;
        display:none;
        max-width: 600px;
        &.expanded
        {
            display:block;
        }
    }
}

.img-strip
{
    //Styling
    background:$color_accent;
    @extend .strip;
}