footer#footer
{
    padding:30px;
    background:$color_primary;
    gap:30px;
    #footer-content
    {
        display: flex;
        gap:30px;
        ul
        {
            list-style: none;
            display: flex;
            gap:30px;
        }
        #copyright
        {
            margin-left: auto;
        }
    }
}