
.modal-overlay
{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,.7);
    z-index: 1000;
}

.modal
{
    z-index:1000;
    position:fixed;
    height:100%;
    top:0;
    left:0; 
    right:0;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color_modal_background;
    visibility: hidden;
    opacity:0;
    .modal-content
    {    
        padding:0 30px 30px 30px;
        height:calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: $color_secondary_mostly_filled;
        .modal-header
        {
            padding-bottom:10px;
            padding-top:10px;
            max-height:50px;
            height:50px;
            flex-basis:100%;
            width: 100%;
            .btn-icon
            {
                height:30px;
                max-height:30px;
                float:right;
                border-top-right-radius: 2em;
            }
        }
        & > * 
        {
            margin:auto;
        }
        .modal-children
        {
            display: flex;
            max-height:calc(100% - 50px);
        }
    }

    &.modal-active
    {
        visibility: visible;
        opacity:1;
    }
}
