fieldset
{
    legend
    {
        text-align: center;
        font-size:22px;
        margin-bottom:10px;
    }

    .input-container
    {
        @extend .content-box;
        background-color: rgba(255,255,255,.15);
        padding:40px;
        display:flex;
        flex-wrap:wrap;
        gap:15px;
        .input-group
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            & > label, & > input
            {
                font-size:18px;
                display: flex;
                flex-direction: column;
                flex-basis: 100%;
                justify-content: center;
                flex: 1;
            }

            &.vertical
            {
                flex-direction: column;
                gap:10px;
            }
        }
    }

    //Specific components of form
    &#description-field
    {
        grid-row:1/2;
        grid-column:1/2;
        .input-container
        {
            height:100%;
            margin-bottom:15px;
            padding:0;
            .input-group
            {
                button.btn-image 
                {
                    img 
                    {
                        width: 250px;
                    }
                }
                input
                {
                    padding:15px;
                    border:none;
                    &#name
                    {
                        &::placeholder
                        {
                            color:rgba(white, .8)
                        }
                    }
                }
            }
            textarea
            {
                font-size:18px;
                background-color: rgba(255,255,255,.15);
                background:none;
                padding:25px;
                &::placeholder
                {
                    color:rgba(white, .8)
                }
                &#edit-description
                {
                    width:100%;
                    height:100%;
                    border:none;
                    resize:none;
                }
            }
        }
    }

    &#edit-details
    {
        display:flex;
        grid-row:2/3;
    
    }

    &#edit-workout
    {
        grid-row:1/3;
        .input-container
        {
            height:100%;
            justify-content: center;

            .week-day-picker
            {
                max-height:50px;
            }
            #edit-exercise-list
            {
                display: flex;
                flex-direction: column;
                align-items:center;
                gap:15px;
                width:100%;
                max-height:500px;
                overflow:auto;

                .info-strip
                {
                    background-color: rgba($color_primary,.5);
                }
        
            }
            #edit-exercise-list-container > *
            {
                padding-bottom:15px;
            }
        }
    }

    &#exercise-list-field
    {
        grid-row:1/-3;
    }
    #add-remove-workout
    {
        margin-left:auto;
        display:flex;
        gap:10px;
    }

}

#btn-container
{
    grid-column:1/-1;
    grid-row:3/4;
    text-align: right;
}

input[type=number]
{
    border:none;
    background:rgba(white,.25);
    padding:15px;
    text-align:center;
}

select
{
    width:100%;
    padding:5px;
    font-size:18px;    
    max-height: 40px;
    option
    {
        color:$color_primary;
    }
}

//Edit title (within modal)
    #title-field
    {
        .input-container
        {
            justify-content: center;
            background:none;
            button.btn-image 
            {
                img 
                {
                    width: 250px;
                }
            }
            input
            {
                padding:15px;
                border:none;
                background-color: rgba(255,255,255,.15);
                border-radius:15px;
                width: 100%;
                &#name
                {
                    &::placeholder
                    {
                        color:rgba(white, .8)
                    }
                }
            }
        }
    }














// --- Desktop ---------------------------------------------------------------
@media (min-width: $media_desktop)
{
    form.content-grid
    {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        #edit-description
        {
            grid-column:1/2;
            grid-row:1/2;
        }
        
        #edit-details
        {
            grid-column:1/2;
            grid-row:2/3;
        }
        
        #edit-workout
        {
            grid-column:2/3;
            grid-row:1/3;

        }
        #btn-container
        {
            grid-column:2/3;
            grid-row: 3/4;
            text-align:right;
        }
    }
}
