

$gradient_primary: linear-gradient( #252736, #494e6b);
$gradient_secondary : linear-gradient(rgba(25, 34, 49, 1), transparent);
$gradient_tertiary :linear-gradient(rgba(25,34,49,.25), rgba(73,78,107,.25));
$gradient_bg_image_overlay :linear-gradient(rgba(25,34,49,.95), rgba(73,78,107,.95));
$color_text_error: red;

$color_primary: rgba(25, 34, 49, 1);
$color_highlight: rgba(152, 94, 109, 1);
$color_secondary: rgba(73, 78, 107,.5);
$color_secondary_mostly_filled: rgba(73, 78, 107, .9);
$color_accent: rgba(50,56,79,.2);
$color_white: rgba(255,255,255,1);
$color_light_gray:rgba(200,200,200,1);
$color_modal_background:rgba(0,0,0,.8);

$shadow-small:2px 2px 2px #000;
$shadow-really_small: -1px 1px 2px #000;

$border_small: 1px solid #fff;

$media_tablet: 760px;
$media_desktop:1026px;

*
{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    color:#fff;
    transition:1s;
    -moz-transition: 1s;
}

*, *:focus, *:hover{
    outline:none;
}

img{
    max-width: 100%;
}

a 
{
    text-decoration: none;
}

a:hover
{
    color: $color_highlight;
}

body
{
    background: $gradient_primary;
    & > *
    { 
        padding: 0 10px 0 10px;
    }
}

// --- Desktop ---------------------------------------------------------------
@media (min-width: $media_desktop)
{
    body
    {
        padding: 0;
    }
}