<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/public/css/styles.css">
        <title>Infinitum Fitness</title>
    </head>

    <body class = "">
        <%- include('./_vertical-nav.ejs'); -%>

        <header class="info-bar">
            <div id = "menu-btn-container">
                <svg id="menu-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.cls-1{fill:#fff;}</style></defs><path class="cls-1" d="M46.52,21.52H3.48c-1.92,0-3.47,1.56-3.48,3.48H0c0,1.92,1.56,3.47,3.48,3.48H46.52c1.92,0,3.47-1.56,3.48-3.48h0c0-1.92-1.56-3.47-3.48-3.48Z"/><path class="cls-1" d="M46.52,0H3.48C1.56,0,0,1.56,0,3.48H0c0,1.92,1.56,3.47,3.48,3.48H46.52c1.92,0,3.47-1.56,3.48-3.48h0c0-1.92-1.56-3.47-3.48-3.48Z"/><path class="cls-1" d="M46.52,43.05H3.48c-1.92,0-3.47,1.56-3.48,3.48H0c0,1.92,1.56,3.47,3.48,3.48H46.52c1.92,0,3.47-1.56,3.48-3.48h0c0-1.92-1.56-3.47-3.48-3.48Z"/></svg>
            </div>

            <div id="back-and-forth">                
                <svg id="back-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.89 20.83"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="0 10.43 10.41 20.83 13.89 17.35 6.96 10.42 13.89 3.48 10.41 0 0 10.41 .01 10.42 0 10.43"/></svg>
                <svg id="forward-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.89 20.83"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="13.89 10.41 3.48 0 0 3.48 6.93 10.42 0 17.35 3.48 20.83 13.89 10.43 13.88 10.42 13.89 10.41"/></svg>
            </div>
            
            <h1><%= heading%></h1>
            
            <div id= "account-info">
                <a href="#" id="bell-icon">
                    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 20">
                        <path class="cls-1" d="M9,20c1.27,0,2.4-.8,2.82-2H6.18c.42,1.2,1.55,2,2.82,2Zm7-7.41v-4.59c0-3.22-2.18-5.93-5.15-6.74-.29-.74-1.01-1.26-1.85-1.26s-1.56,.52-1.85,1.26c-2.96,.82-5.15,3.53-5.15,6.74v4.59l-1.71,1.71C.11,14.48,0,14.73,0,15v1C0,16.55,.45,17,1,17H17c.55,0,1-.45,1-1v-1c0-.27-.11-.52-.29-.71l-1.71-1.71Z"/>
                    </svg>
                </a>  
                <a href="/user-profile" id="account-avatar">
                    <img class="circle" src=<%= `${user.user_profile_photo_URL}`%> >
                    <p id="user-full-name"><%= `${user.user_first_name} ${user.user_last_name}`%></p>
                </a> 
                <svg id="account-options-icon" class="open-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.6 8.4"><defs></defs><polygon class="cls-1" points="5.6 4.2 1.4 0 0 1.4 2.8 4.2 0 7 1.4 8.4 5.6 4.2 5.6 4.2 5.6 4.2"/></svg>
                    
                <div id="account-options-dropdown">
                    <ul>
                        <li><a href="/user-profile">Options</a></li>
                        <li><a id = "logout-btn">Sign Out</a></li>
                    </ul>
                </div>
                <script>
                    let icon = document.querySelector("#account-options-icon");
                    let dropdown = document.querySelector("#account-options-dropdown");
                    let accountInfo = document.querySelector("#account-info");

                    let logOut = document.querySelector("#logout-btn");

                    icon.addEventListener("click", () =>
                    {
                        icon.classList.toggle("rotate-negative90deg");
                        dropdown.classList.toggle("dropped-down");
                        accountInfo.classList.toggle("child-dropped-down")
                    })

                    logOut.addEventListener("click", async () => 
                    {
                        let response = await fetch("/auth/logout",
                        {
                            method: 'POST',
                            headers:
                            {
                                "Content-Type": "application/json"
                            }
                        });
                        if (response.ok)
                        {
                            location.href=response.url;
                        }
                    });
                </script>
            </div>
        </header>



