<div class="image-picker">
    <h3>Your Profile Picture</h3> 
    <img src="" alt="" srcset="" class="current-selected-image">
    <div class="container">
        <svg id="prev-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.89 20.83"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="0 10.43 10.41 20.83 13.89 17.35 6.96 10.42 13.89 3.48 10.41 0 0 10.41 .01 10.42 0 10.43"/></svg>
        <div class="image-gallery-container">
            <div class="image-gallery">
                <a href="#" class="selected-link">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-male-white.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-female-white.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-male-asian.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-female-asian.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-male-hispanic.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-female-hispanic.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-male-black.png" alt="" srcset="">    
                    </div>
                </a>
                <a href="#">
                    <div class="overlay circle">
                        <img src="/public/images/uploads/user-profile/default/user-profile-image-female-black.png" alt="" srcset="">    
                    </div>
                </a>
            </div>
        </div>
        <svg id="next-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.89 20.83"><defs><style>.cls-1{fill:#fff;}</style></defs><polygon class="cls-1" points="13.89 10.41 3.48 0 0 3.48 6.93 10.42 0 17.35 3.48 20.83 13.89 10.43 13.88 10.42 13.89 10.41"/></svg>
    </div>
    <form id="image-picker-form" enctype="multipart/form-data">
        <p class="form-message"></p>
        <button class="btn-dark btn-file">Upload Image</button>
        <input type="file" style="display:none" name="img_upload"></input>
        <button class="btn-dark" type="submit" id="image-picker-submit-btn">Save</button>
    </form>
</div>
<script src="/public/scripts/image-picker.js"></script>