<aside class="sidebar">
    <h2>Today's Date</h2>
    <div class="aside-content-box" id="workout-box">
        <h3>Workout Name</h3>
        <h4>Time</h4>

        <div id="workout-list">
            <div class="img-strip">
                <img src="/public/images/workout-placeholder.svg" class="circle" style="width:50px;">
                <h4>Workout Name</h4>
            </div>
            <div class="img-strip">
                <img src="/public/images/workout-placeholder.svg" class="circle" style="width:50px;">
                <h4>Workout Name</h4>
            </div>
            <div class="img-strip">
                <img src="/public/images/workout-placeholder.svg" class="circle" style="width:50px;">
                <h4>Workout Name</h4>
            </div>
            <div class="img-strip">
                <img src="/public/images/workout-placeholder.svg" class="circle" style="width:50px;">
                <h4>Workout Name</h4>
            </div>
        </div>
        <div class="two-buttons">
            <a href="#" class="btn-dark">Log Workout</a>
            <a href="#" class="btn-dark">More Details</a>
        </div>

    </div>

    <div class="aside-content-box" id="nutrition-box">
        <h3>Today's Nutrition</h3>
        <div id="nutrition-list">

            <p>x/y calories</p>
            <div class="progress-bar">
                <div class="progress-bar-overlay"></div>
            </div>

            <p>x/y carbohydrates</p>
            <div class="progress-bar">
                <div class="progress-bar-overlay"></div>
            </div>
            
            <p>x/y fat</p>
            <div class="progress-bar">
                <div class="progress-bar-overlay"></div>
            </div>
            
            <p>x/y protein</p>
            <div class="progress-bar">
                <div class="progress-bar-overlay"></div>
            </div>
        </div>
        <div class="two-buttons">
            <a href="#" class="btn-dark">Log Workout</a>
            <a href="#" class="btn-dark">More Details</a>
        </div>

    </div>
</aside>